.card {
    width: calc(100% -20px);
    margin: 10px 10px;
    border: 1px solid #cecece;
    box-shadow: 0 0 2px -2px gray;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border: 1px solid #cecece;
}